{% extends 'AdminBundle:layout:default.html.twig' %}
{% block title %} disabled {% endblock %}
{% block body %}
    <!-- BEGIN PAGE CONTENT-->
    <button id="test"> 测试按钮</button>
    <select data-modules="dropdowns">
    	<option>11</option>
    	<option>22</option>
    	<option>33</option>
    	<option>44</option>
    </select>
    <!-- END PAGE CONTENT-->
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		require(['admin', 'vue', 'core'], function(Admin, Vue, Core) {
			/*Core.getModule(function(modules){
				console.log(modules)
			})*/
		});
	</script>
{% endblock %}
