{% extends 'AdminBundle:layout:default.html.twig' %}
{% block title %} default {% endblock %}
{% block body %}

    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
		<div class="col-md-12">
			<form action="#" class="form-horizontal form-row-sepe">
				<div class="form-body">
					<h4 class="form-section">Fixed Width</h4>
					<div class="form-group">
						<label class="control-label col-md-3">Extra Large</label>
						<div class="col-md-4">
							<select class="form-control input-xlarge select2me" data-modules="dropdowns" data-placeholder="Select...">
								<option value=""></option>
								<option value="AL">Alabama</option>
								<option value="WY">&nbsp;&nbsp;&nbsp;&nbsp;Wyoming</option>
							</select>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
    <!-- END PAGE CONTENT-->
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		require(['admin', 'vue', 'core'], function(Admin, Vue, Core) {
		    //console.log(Core);
		});
	</script>
{% endblock %}
