<?xml version="1.0" encoding="utf-8"?>
<doctrine-mapping xmlns="http://doctrine-project.org/schemas/orm/doctrine-mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://doctrine-project.org/schemas/orm/doctrine-mapping http://doctrine-project.org/schemas/orm/doctrine-mapping.xsd">
  <entity name="AppBundle\Entity\SpringCoupons" table="spring_coupons">
    <id name="id" type="integer" column="id">
      <generator strategy="IDENTITY"/>
    </id>
    <field name="href" type="string" column="href" length="255" nullable="true">
      <options>
        <option name="fixed"/>
        <option name="comment">分享链接</option>
      </options>
    </field>
    <field name="uid" type="integer" column="uid" nullable="true">
      <options>
        <option name="unsigned"/>
        <option name="comment">分享者id</option>
      </options>
    </field>
    <field name="shareTime" type="integer" column="share_time" nullable="true">
      <options>
        <option name="unsigned"/>
        <option name="comment">分享时间</option>
      </options>
    </field>
    <field name="orderNo" type="string" column="order_no" length="255" nullable="true">
      <options>
        <option name="fixed"/>
        <option name="comment">唯一订单号</option>
      </options>
    </field>
  </entity>
</doctrine-mapping>
