{% extends 'AdminBundle:layout:default.html.twig' %}
{% block title %} default {% endblock %}
{% block body %}
    <!-- BEGIN PAGE CONTENT-->
    <div class="loading-spinner" style="width: 200px; margin-left: -100px;">
            <div class="progress progress-striped active">
            <div class="progress-bar" style="width: 100%;"></div>
            </div>
            </div>
    <!-- END PAGE CONTENT-->
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		require(['admin', 'vue', 'core'], function(Admin, Vue, Core) {
		    //console.log(Core);
		});
	</script>
{% endblock %}
